# ignore all hidden files and .* files
.*
!.gitignore

#ignore files
*.iml
*.ipr
*.iws
*.log
*.log.*
*.dat
*.pyc
*.ctrl
*.jar
service.properties

#ignore folders
bin
out
build
*/lib
